i{
	font-style: italic;
}
/* Párrafo de avisos */
div#juego{
	width: 1900px;
	height: 1000px;
}
/* Área de imagen */
div#juego > div{
	position: relative;
	width: 1900px;
	height: 800px;
	margin: auto;
	overflow: hidden;
}
div#juego > div > div.zona{
	position: absolute;
	cursor: pointer;
}
.presentacion{
	font-family: sans;
	color: white;
	font-size: 2rem;
	line-height: 2rem;
	transition: opacity 5s linear;
}
.centrado{
	text-align: center;
}
.texto{
	font-family: sans;
	color: white;
	font-size: 1rem;
	line-height: 2rem;
	font-style: italic;
}
.fondoTexto{
	padding: 1rem;
	border-radius: 1rem;
	background-color: grey;
	opacity: 0.5;
}
.movimiento{
	color: white;
	font-size: 5rem;
	opacity: 0;
}
.movimiento:hover{
	opacity: 1;
}
img.inventario{
	cursor: pointer;
}
